@(flow: org.ow2.petals.log.api.model.Flow)

@if( flow == null || flow.getFlowId() == null ) {
	@main("Unknown Flow","",1) {
		Oops! This flow does not exist.
	}
} else {
	@main("Flow « " + flow.getFlowId() + " »","A full overview of this Petals flow.",1) {
   		<p class="with-bottom">
	   		A Petals flow is a set of correlated Petals exchanges (or flow steps).<br />
	   		A Petals exchange is an exchange of Petals messages that obey a given order (MEP).
   		</p>
   		<p class="with-bottom">
	   		Here are the exchanges that were performed in this context and that were found in the logs.
	   		Remember that incomplete or missing logs may result in a completely different picture.
   		</p>
    	
   		<ul class="list">
   		@for((key,value) <- org.ow2.petals.log.api.PetalsLogUtils.linearizeFlowTree( flow.getRoot())) {
   			<li style="margin-left: @utils.FormattingUtils.formatIndentationStyle( value );">
   				@if( value > 0 ) { |....... } 
   				<a href="@routes.Application.step( flow.getFlowId(), key.getId())">@Html( utils.FormattingUtils.formatFlowStepForListing( key ))</a>
   				<span class="label label-@if( key.isFailure()) {failure">Failure} else {success">Success}</span>
   				@if( key.getParent() == null && utils.MiscUtils.containsFailures( key )) {<span class="label label-warning" title="Children steps contain one or several errors">Warning</span>}
   			</li>
   		}
   		</ul>
	}
}